/*
 * Overview page
 */
.btn-right {
  float: right;
  margin-right: 10px;
}
.card {
  height: 334px;
  width: 18rem;
  margin-bottom: auto;
  border: none;
  display: none;
}
.card > p {
  text-align: center;
}
#loader {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  visibility: hidden;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .row-header > h2 {
    text-align: center;
  }
  .card-container {
    max-width: fit-content;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .btn-container {
    width: fit-content;
    margin: auto;
  }
  .row-header {
    width: fit-content;
    margin: 10px auto;
  }
}
@media screen and (max-width: 345px) {
  .btn-container {
    width: 100%;
    display: inline-grid;
  }
  .btn-right {
    margin-bottom: 10px;
  }
}
/*
 * Statistics page
 */
#chart{
  width: 80%;
  max-width: 1000px;
  max-height: 1190px;
  margin: auto;
}
