<div id="error_msg"></div>
{% if statistics is not empty %}
<table class="table" id="statTable">
  <thead class="thead-dark">
  <tr>
    <th scope="col">{{ 'Time'|t }}</th>
    <th scope="col">{{ 'URL'|t }}</th>
    <th scope="col">{{ 'Mobile'|t }}</th>
    <th scope="col">{{ 'Average'|t }}</th>
    <th scope="col">{{ 'Desktop'|t }}</th>
  </tr>
  </thead>
  <tbody id="databody">
    {% for stat in statistics %}
    <tr id="tableData">
      <td>{{ stat.created_at }}</td>
      <td>{{ stat.url }}</td>
      <td>{{ stat.mobile }}</td>
      <td>{{ stat.avg }}</td>
      <td>{{ stat.desktop }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <div id="chart">
    <canvas id="myChart"></canvas>
  </div>
</table>
{% endif %}

