<div id="error_msg"></div>
{% if url is not empty %}
<div class="container">
  <div class="row">
    <div class="col-md-6 row-header">
      <h2>Check page speed of <b><a href="{{ url }}">{{ url }}</a></b></h2>
    </div>
    <div class="col-md-6 btn-container">
      <a class="btn btn-warning btn-right" href="{{ path('pagespeed_viewer.urlconfig_form') }}">{{ "Settings"|t }}</a>
      <a class="btn btn-primary btn-right" href="{{ path('pagespeed_viewer.statistics') }}">{{ "Statistics"|t }}</a>
      <button class="btn btn-primary btn-right" id="fetchdata_btn">{{ "Start"|t }}</button>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    {% for category in categories %}
      <div class="col-sm-4 card-container">
        <div class="card">
          <div class="card-body">
            <div id="{{category}}"></div>
          </div>
          <p><b>{{ category|upper }}</b></p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<div id="overlay">
  <div id="loader"></div>
</div>







